<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>JSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  	<error-page>
   	<error-code>404</error-code>
   	<location>/Chapter6/error/error404.jsp</location>
	</error-page>
	
 	<error-page>
   	<error-code>500</error-code>
   	<location>/Chapter6/error/error500.jsp</location>
	</error-page>
	
	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/Chapter6/error/errorNullPointer.jsp</location>
	</error-page>
	
	<display-name>8장 예제</display-name>
	<description>
	8장의 예제 소스 코드 및 실행 코드
	</description>
	<jsp-config>
		<jsp-property-group>
			<url-pattern>/Chapter8/view/*</url-pattern>
			<include-prelude>/Chapter8/common/variable.jspf</include-prelude>
			<include-coda>/Chapter8/common/footer.jspf</include-coda>
		</jsp-property-group>
	</jsp-config>
</web-app>
